In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('players.csv')
df

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['surname', 'team', 'position', 'minutes', 'shots', 'passes', 'tackles',
       'saves', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=595, step=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   surname      595 non-null    object
 1   team         595 non-null    object
 2   position     595 non-null    object
 3   minutes      595 non-null    int64
 4   shots        595 non-null    int64
 5   passes       595 non-null    int64
 6   tackles      595 non-null    int64
 7   saves        595 non-null    int64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(18), int64(5), object(3)
memory usage: 121.0+ KB

In [7]:
df = df.set_index('surname')
df

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Selection

In [8]:
df.loc['Holden', 'position']
# [row, column]

'midfielder'

In [9]:
df.loc[['Messi','Ronaldo'],['team','passes','shots']]

              team  passes  shots
surname
Messi    Argentina     321     21
Ronaldo   Portugal      91     18

In [10]:
df.loc['Holden':'Onyewu','position':'passes']

                 position  minutes  shots  passes
surname
Holden         midfielder        4      0       2
Howard         goalkeeper      390      0      81
Jozy Altidore     forward      356      8      84
Onyewu           defender      170      1      69

In [11]:
df.loc[['Messi','Ronaldo'] , :'shots']

              team position  minutes  shots
surname
Messi    Argentina  forward      450     21
Ronaldo   Portugal  forward      360     18

In [12]:
df.loc['Torres', : ]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Torres,Paraguay,defender,82,2,29,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Torres,Spain,forward,278,9,50,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
s = df.loc['Messi', : ]
s

team           Argentina
position         forward
minutes              450
shots                 21
passes               321
tackles               10
saves                  0
Unnamed: 8           NaN
Unnamed: 9           NaN
Unnamed: 10          NaN
Unnamed: 11          NaN
Unnamed: 12          NaN
Unnamed: 13          NaN
Unnamed: 14          NaN
Unnamed: 15          NaN
Unnamed: 16          NaN
Unnamed: 17          NaN
Unnamed: 18          NaN
Unnamed: 19          NaN
Unnamed: 20          NaN
Unnamed: 21          NaN
Unnamed: 22          NaN
Unnamed: 23          NaN
Unnamed: 24          NaN
Unnamed: 25          NaN
Name: Messi, dtype: object

In [14]:
type(s)

pandas.core.series.Series

In [15]:
s.to_frame().T
# transpost

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
Messi,Argentina,forward,450,21,321,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.iloc[0,2]

16

In [17]:
df.iloc[[56,34,78,100], [0,4,1,5]]

                   team  passes    position  tackles
surname
Wilkshire     Australia     117  midfielder        8
Romero        Argentina      47  goalkeeper        0
Assou-Ekotto   Cameroon     116    defender        5
Estrada           Chile      16  midfielder        2

In [18]:
df.iloc[0:4, 1:5]
# row 0-3, column 1-4

             position  minutes  shots  passes
surname
Abdoun     midfielder       16      0       6
Belhadj      defender      270      1     146
Boudebouz  midfielder       74      3      28
Bougherra    defender      270      1      89

In [19]:
df.shots # shortcut using
# or df['shots']

surname
Abdoun           0
Belhadj          1
Boudebouz        3
Bougherra        1
Chaouchi         0
                ..
Holden           0
Howard           0
Jozy Altidore    8
Onyewu           1
Torres           1
Name: shots, Length: 595, dtype: int64

In [20]:
df.shots == 0
# shots=0 ?

surname
Abdoun            True
Belhadj          False
Boudebouz        False
Bougherra        False
Chaouchi          True
                 ...
Holden            True
Howard            True
Jozy Altidore    False
Onyewu           False
Torres           False
Name: shots, Length: 595, dtype: bool

In [21]:
df.loc[df.shots >= 20, :]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Messi,Argentina,forward,450,21,321,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gyan,Ghana,forward,501,27,151,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Villa,Spain,forward,529,22,169,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df[df.team == 'USA'] # shortcut filtering
# choose team=USA

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Beasley,USA,midfielder,10,0,4,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bocanegra,USA,defender,390,1,130,9,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bornstein,USA,defender,200,2,72,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bradley,USA,midfielder,390,6,210,9,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Buddle,USA,forward,39,1,12,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cherundolo,USA,defender,390,1,180,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Clark,USA,midfielder,121,0,42,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Demerit,USA,defender,390,2,129,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dempsey,USA,midfielder,390,15,137,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Donovan,USA,forward,390,7,165,9,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Edu,USA,midfielder,198,2,116,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feilhaber,USA,midfielder,165,3,71,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Findley,USA,forward,167,1,40,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gomez,USA,forward,85,4,18,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.loc[df.index == 'Torres', : ] # filter by index

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Torres,Paraguay,defender,82,2,29,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Torres,Spain,forward,278,9,50,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.loc[(df.team == 'Algeria') & (df.passes >= 150), :]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Lacen,Algeria,midfielder,270,0,158,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.loc[df.team.str.endswith('land'), : ]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Ashley Cole,England,defender,360,0,142,12,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barry,England,midfielder,264,2,171,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Carragher,England,defender,135,0,74,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crouch,England,forward,17,1,7,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Defoe,England,forward,173,5,17,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gerrard,England,midfielder,360,10,227,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Glen Johnson,England,defender,357,3,173,17,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Green,England,goalkeeper,90,0,21,0,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Heskey,England,forward,176,2,53,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
James,England,goalkeeper,270,0,72,0,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Joe Cole,England,midfielder,44,1,26,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
King,England,defender,45,0,17,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lampard,England,midfielder,360,11,232,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lennon,England,midfielder,153,0,43,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Milner,England,midfielder,185,1,57,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rooney,England,forward,342,8,121,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Terry,England,defender,360,2,223,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Upson,England,defender,180,1,93,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wright-Phillips,England,midfielder,89,2,29,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barron,New Zealand,midfielder,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bertos,New Zealand,midfielder,270,0,79,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brockie,New Zealand,midfielder,11,0,5,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Christie,New Zealand,midfielder,21,0,9,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Elliott,New Zealand,midfielder,270,1,119,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fallon,New Zealand,forward,222,1,60,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Killen,New Zealand,forward,240,3,60,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lochhead,New Zealand,defender,270,0,47,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nelsen,New Zealand,defender,270,0,92,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paston,New Zealand,goalkeeper,270,0,64,0,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Reid,New Zealand,defender,270,2,90,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Smeltz,New Zealand,forward,270,5,59,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Smith,New Zealand,defender,270,1,79,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vicelich,New Zealand,defender,249,1,88,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wood,New Zealand,forward,66,1,16,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barnetta,Switzerland,midfielder,227,3,104,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Behrami,Switzerland,midfielder,31,0,4,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benaglio,Switzerland,goalkeeper,270,0,75,0,11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bunjaku,Switzerland,forward,13,0,5,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Derdiyok,Switzerland,forward,191,4,47,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eggimann,Switzerland,defender,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fernandes,Switzerland,midfielder,212,1,56,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Frei,Switzerland,forward,63,2,11,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grichting,Switzerland,defender,270,1,82,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Huggel,Switzerland,midfielder,258,0,87,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inler,Switzerland,midfielder,270,2,138,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lichtsteiner,Switzerland,defender,270,2,80,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nkufo,Switzerland,forward,227,2,65,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Senderos,Switzerland,defender,36,0,9,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shaqiri,Switzerland,midfielder,12,0,9,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yakin,Switzerland,midfielder,56,3,26,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ziegler,Switzerland,defender,270,1,71,9,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
von Bergen,Switzerland,defender,234,0,79,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.loc[df.index.str.contains('ve'), : ]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Tevez,Argentina,forward,324,6,164,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Daniel Alves,Brazil,defender,310,11,215,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chavez,Honduras,defender,270,0,62,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Riveros,Paraguay,midfielder,480,5,236,22,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bruno Alves,Portugal,defender,360,1,166,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nomvete,South Africa,forward,22,0,5,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.query('team == "Spain" and passes >= 300')

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Alonso,Spain,midfielder,506,9,465,18,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Busquets,Spain,midfielder,511,0,466,15,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capdevila,Spain,defender,540,1,310,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pique,Spain,defender,540,2,402,15,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Xavi,Spain,midfielder,515,4,563,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Sorting

In [28]:
df.sort_values('passes', ascending=False)
#ascending=True เรียงจากน้อยไปมาก, ascending=False เรียงจากมากไปน้อย

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Xavi,Spain,midfielder,515,4,563,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Busquets,Spain,midfielder,511,0,466,15,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alonso,Spain,midfielder,506,9,465,18,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Schweinsteiger,Germany,midfielder,531,5,423,23,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pique,Spain,defender,540,2,402,15,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Eggimann,Switzerland,defender,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barron,New Zealand,midfielder,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Konno,Japan,defender,2,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lee Seung-Yeoul,South Korea,forward,3,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kim Dong-Jin,South Korea,defender,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.sort_values('team', ascending=False)

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Fernandez,Uruguay,forward,7,0,5,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Goduen,Uruguay,defender,315,1,120,9,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Suarez,Uruguay,forward,452,19,127,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Scotti,Uruguay,defender,95,0,22,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Perez,Uruguay,midfielder,567,2,252,34,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Saifi,Algeria,forward,15,1,3,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yahia,Algeria,defender,269,1,79,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yebda,Algeria,midfielder,269,8,138,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ziani,Algeria,midfielder,240,5,93,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.sort_values(['team','passes'], ascending=[True,False]).tail(20)
# or use iloc[:20] to show 20 rows, or you can also use head(20), tail(20)

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Forlan,Uruguay,forward,564,18,202,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arevalo Rios,Uruguay,midfielder,570,5,195,21,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maxi Pereira,Uruguay,midfielder,570,5,182,15,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cavani,Uruguay,forward,435,9,151,11,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Victorino,Uruguay,defender,435,0,141,7,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alvaro Pereira,Uruguay,midfielder,409,6,140,17,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Suarez,Uruguay,forward,452,19,127,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Goduen,Uruguay,defender,315,1,120,9,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fucile,Uruguay,defender,371,2,115,14,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Muslera,Uruguay,goalkeeper,570,0,75,0,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lugano,Uruguay,defender,398,2,67,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gargano,Uruguay,midfielder,91,0,44,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lodeiro,Uruguay,midfielder,109,0,37,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gonzalez,Uruguay,midfielder,63,0,34,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Caceres,Uruguay,defender,90,0,32,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Scotti,Uruguay,defender,95,0,22,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fernandez,Uruguay,midfielder,75,1,17,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abreu,Uruguay,forward,72,0,15,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fernandez,Uruguay,forward,7,0,5,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eguren,Uruguay,midfielder,2,0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.sort_index(ascending=True) # sort index

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abe,Japan,midfielder,351,0,101,14,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abidal,France,defender,180,0,91,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abou Diaby,France,midfielder,270,1,111,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aboubakar,Cameroon,forward,46,2,16,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
de Zeeuw,Netherlands,midfielder,47,0,37,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
van Bommel,Netherlands,midfielder,540,2,307,31,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
van Bronckhorst,Netherlands,defender,540,1,271,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
van Persie,Netherlands,forward,479,14,108,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
von Bergen,Switzerland,defender,234,0,79,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.reset_index().sort_values(['team','surname'], ascending=[True,False])
# reset df

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
17,Ziani,Algeria,midfielder,240,5,93,6,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Yebda,Algeria,midfielder,269,8,138,10,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Yahia,Algeria,defender,269,1,79,4,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Saifi,Algeria,forward,15,1,3,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Mesbah,Algeria,midfielder,1,0,1,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,Cavani,Uruguay,forward,435,9,151,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558,Caceres,Uruguay,defender,90,0,32,4,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,Arevalo Rios,Uruguay,midfielder,570,5,195,21,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,Alvaro Pereira,Uruguay,midfielder,409,6,140,17,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,Abreu,Uruguay,forward,72,0,15,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data entry

In [33]:
df_edit = df.copy()

In [34]:
df_edit.loc['Abdoun', 'shots'] = 1
# replace row 'Abdoun' column 'shots' with 1
df_edit.head(3)

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,1,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_edit.loc[df_edit.shots==0, 'shots']

surname
Chaouchi     0
Guedioura    0
Kadir        0
Lacen        0
M'Bolhi      0
            ..
Victorino    0
Beasley      0
Clark        0
Holden       0
Howard       0
Name: shots, Length: 205, dtype: int64

In [36]:
df_edit.loc[df_edit.shots==0, 'shots'] = 1
# replace 0 with 1 in the shots column
df_edit.head(10)

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,1,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chaouchi,Algeria,goalkeeper,90,1,17,0,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Djebbour,Algeria,forward,123,3,19,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ghezzal,Algeria,forward,40,3,8,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Guedioura,Algeria,midfielder,38,1,18,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Halliche,Algeria,defender,270,2,94,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kadir,Algeria,midfielder,262,1,104,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Calculate new column

In [37]:
df.minutes / 60

surname
Abdoun           0.266667
Belhadj          4.500000
Boudebouz        1.233333
Bougherra        4.500000
Chaouchi         1.500000
                   ...
Holden           0.066667
Howard           6.500000
Jozy Altidore    5.933333
Onyewu           2.833333
Torres           0.750000
Name: minutes, Length: 595, dtype: float64

In [38]:
df['hours_played'] = df.minutes/60
df

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,hours_played
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266667
Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.233333
Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.066667
Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500000
Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.933333
Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.833333
Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.750000

In [39]:
df['pass_per_min'] = df.passes/df.minutes
df

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,hours_played,pass_per_min
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266667,0.375000
Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,0.540741
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.233333,0.378378
Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,0.329630
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000,0.188889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.066667,0.500000
Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500000,0.207692
Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.933333,0.235955
Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.833333,0.405882
Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.750000,0.711111

In [40]:
df.sort_values('pass_per_min', ascending=False)

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,hours_played,pass_per_min
surname,,,,,,,,,,,,,,,,,,,,,
Sapara,Slovakia,midfielder,2,0,5,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033333,2.500000
Inamoto,Japan,midfielder,3,0,5,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050000,1.666667
Amorim,Portugal,midfielder,5,1,7,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083333,1.400000
Veron,Argentina,midfielder,185,3,235,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.083333,1.270270
Fabregas,Spain,midfielder,94,1,116,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.566667,1.234043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kim Dong-Jin,South Korea,defender,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016667,0.000000
Lee Seung-Yeoul,South Korea,forward,3,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050000,0.000000
Barron,New Zealand,midfielder,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016667,0.000000
Konno,Japan,defender,2,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033333,0.000000
Eggimann,Switzerland,defender,1,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016667,0.000000

In [41]:
df.minutes+df['Unnamed: 8']

surname
Abdoun          NaN
Belhadj         NaN
Boudebouz       NaN
Bougherra       NaN
Chaouchi        NaN
                 ..
Holden          NaN
Howard          NaN
Jozy Altidore   NaN
Onyewu          NaN
Torres          NaN
Length: 595, dtype: float64

In [42]:
df.minutes.add(df['Unnamed: 8'], fill_value=0)

surname
Abdoun            16.0
Belhadj          270.0
Boudebouz         74.0
Bougherra        270.0
Chaouchi          90.0
                 ...
Holden             4.0
Howard           390.0
Jozy Altidore    356.0
Onyewu           170.0
Torres            45.0
Length: 595, dtype: float64

In [43]:
# help(df.minutes.add)

# methods for column/df calcultaion

In [44]:
df.sum()
# search 'pandas api'

team            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
position        midfielderdefendermidfielderdefendergoalkeeper...
minutes                                                    124274
shots                                                        1371
passes                                                      50290
tackles                                                      2494
saves                                                         397
Unnamed: 8                                                    0.0
Unnamed: 9                                                    0.0
Unnamed: 10                                                   0.0
Unnamed: 11                                                   0.0
Unnamed: 12                                                   0.0
Unnamed: 13                                                   0.0
Unnamed: 14                                                   0.0
Unnamed: 15                                                   0.0
Unnamed: 16                                                   0.0
Unnamed: 17                                                   0.0
Unnamed: 18                                                   0.0
Unnamed: 19                                                   0.0
Unnamed: 20                                                   0.0
Unnamed: 21                                                   0.0
Unnamed: 22                                                   0.0
Unnamed: 23                                                   0.0
Unnamed: 24                                                   0.0
Unnamed: 25                                                   0.0
hours_played                                          2071.233333
pass_per_min                                           245.047801
dtype: object

In [45]:
df.shots.sum()

1371

In [46]:
df.loc[:,'minutes':'saves'].sum(axis=1)

surname
Abdoun            22
Belhadj          425
Boudebouz        106
Bougherra        371
Chaouchi         109
                ...
Holden             6
Howard           485
Jozy Altidore    450
Onyewu           242
Torres            78
Length: 595, dtype: int64